<p id="notice"><%= notice %></p>

<p>
  <b>Descricao falha:</b>
  <%= @notificacao.descricao_falha %>
</p>


<%= link_to 'Edit', edit_notificacao_path(@notificacao) %> |
<%= link_to 'Back', notificacoes_path %>
