<h1>Editing equipamento</h1>

<%= render 'form' %>

<%= link_to 'Info', instituicao_equipamento_path(@instituicao.id,@equipamento.id) %> |
<%= link_to 'Voltar', instituicao_equipamentos_path(@instituicao.id) %>
