<h1>Editing usuario</h1>

<%= render 'form' %>

<%= link_to 'Info', instituicao_equipe_interna_path(@instituicao.id,@equipe_interna.id) %> |
<%= link_to 'Voltar', instituicao_equipes_internas_path(@instituicao.id) %>
