body { background-color: #F9FFF9; color: #333; }
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.containnerBasico .opcaoDireita a{
	color: #1C94C4;
	font-weight: bold;
	text-decoration: none;
	padding:5px;
}
.containnerBasico .opcaoDireita .linkDesabilitado{
	color: #e1e1e1;
	font-weight: bold;
	text-decoration: none;
	padding:5px;
}
.containnerBasico .opcaoDireita a:hover{
	background-color: white;
}
.containnerBasico .colunaOpcao{
	width:80px;
}
#topo
{
	background-color: #e1f1e1;
	width: auto;
	padding: 16px;
	border-bottom: 3px solid #515151;
}

#topo #menu{
	padding: 0;
	float: right;
}

#topo #menu li
{
	display: inline;
	list-style: none;
	margin:10px;
}

#topo #menu li a
{
	font-size: 1.5em;
	color: black;
	margin: 5px;
}

#topo #menu li a:hover
{
	background-color: black;
	color: #e1e1e1;
}

#topo #menu li.selecionado{
	font-size: 20px;
	color: #515151;
	text-decoration: none;
}
.containnerEquipes{
	width:100%;
	border-top: 1px solid;
	margin: 10px 0;
	padding-top: 5px;
}

#item_patrimonio{
	color:#616161;
}

#instituicao{
	border-bottom: 3px solid #515151;
	padding: 8px;
}
#instituicao a:hover{
	background-color: #E1E1E1;
}
#instituicao img{
	float: left;
}
#instituicao #nomeInstituicao{
    float: left;
    color: #333;
    margin-left: 5px;
}

#colunaPrincipal{
	border-left: 2px solid #515151;
    float: left;
    min-height: 400px;
    padding: 10px;
    width:800px;
    background-color: #E1F1E1;
}

#menuLateral{
	float:left;
	list-style: none;
	padding: 10px;
	width: 200px;
}

#menuLateral li{
	width: 188px;
	padding: 10px;
	border: 2px solid #F9FFF9;
	margin-top: 5px;
}

#menuLateral li:hover{
	background-color: #E1E1E1;
	border: 2px solid #515151;
}

#menuLateral li a{
	color: black;
	text-decoration: none;
	display: block;
}

#menuLateral li.selecionado{
	background-color: #a5db82;
	border: 2px solid #515151;;
}

#menuLateral a span{
	display: block;
    float: right;
    font-size: 15px;
    height: 16px;
    margin: 16px 0;
    width: 128px;
    text-align: center;
}
#colunaPrincipal h1 img{
	height: 20px;
    margin: 0 5px;
    width: 20px;
}

.containnerBasico h2 img{
	height: 20px;
    margin-right:5px;
    width: 20px;
}

#topo #sgm{
	color: #222;
	display: block;
    float: left;
    font-size: 30px;
    margin: 15px 0 0 5px;
}

#topo #web{
	font-size: 12px;
	margin-top: 2px;
	color: #000;
	display: block;
    float: left;
}

#topo #logo{
	display: block;
    float: left;
}

.containnerBasico{
	padding: 16px;
	margin: 8px;
	border: 2px solid #515151;
}
.containnerBasico .opcaoDireita{
	width: 100%;
	text-align: right;
}
.containnerBasico h2{
	font-size: 18px;
	color: #515151;
	margin: 0;
}

#notice{
	border: 1px dashed green;
	margin: 0 0 0 10px;
    padding: 12px;
	color: green;
	float: left;
}

#colunaPrincipal .contemBusca{
	float:right;
	width: 370px;
	padding: 5px;
	border: 1px dashed green;	
	margin-right: 10px;
}

.contemBusca #patrimonio{
	width: 199px;
	margin: 0 10px;
}

.contemBusca img{
	width: 20px;
	height: 20px;
}

.containnerBasico table{
	width: 100%;
	margin: 10px 0;
	border-collapse: collapse;
}
.containnerBasico table tr.corpoTabela:hover{
	background-color: #f1f9f1;
	cursor: pointer;
}
.containnerBasico table tr td a{
	color: #333;
}

.containnerBasico table tr td{
	padding: 8px;
	border: 1px solid #1C94C4;
}

.containnerBasico table tr th{
	text-align: left;
	border: 1px solid;
	color: #1C94C4;
	background-color: white;
	padding: 8px;
}

.containnerBasico .oculto{
	display:none;
}

.containnerBasico .setaExpande{
	cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 20px;
}

.containnerBasico .tipoAviso{
	width: 30px;
	height: 15px;
	text-indent: -999px
}

.meio{
	width: 348px;
	float: left;
	min-height: 175px
}

.umQuarto{
	width: 136px;
	float: left;
	min-height: 110px;
	text-align: center;
}

.tresQuartos{
	width: 560px;
	float: left;
	min-height: 175px
}

.divide{
	float:left;
	margin-left: 5px;
}

#colunaPrincipal .containnerBasico .contemBusca{
	width: 336px;
}
