#containerMenu
{
	margin: 0 auto;
	border-bottom: solid 3px black;
}

#menu{
	padding: 0;
}

#menu li
{
	display: inline;
	list-style: none;
}

#menu li a
{
	font-size: 1.5em;
	color: black;
	margin: 0.2em;
}

#menu li a:hover
{
	background-color: black;
	color: #e1e1e1;
}

#menu li.selecionado{
	font-size: 1.5em;
	color: #515151;
}
.containnerEquipes{
	width:100%;
	border-top: 1px solid;
	margin: 10px 0;
	padding-top: 5px;
}

#item_patrimonio{
	color:#616161;
}

#nomeInstituicao{
	border-bottom: 3px solid black;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}

#colunaPrincipal{
	border-left: 1px solid black;
    float: left;
    min-height: 400px;
    padding: 10px;
    width:800px;
}

#menuLateral{
	float:left;
	list-style: none;
	padding: 10px;
	width: 130px;
}
