<div class='containnerBasico'>
	<h2><%=image_tag 'equipamentos.png'%>Equipamentos</h2>
	
	<table>
	  <tr>
	    <th>Nome</th>
	  </tr>
	
	<% @equipamentos.each do |equipamento| %>
	  <tr class='corpoTabela' id="<%=instituicao_equipamento_path(@instituicao.id,equipamento.id)%>">
	    <td><%= equipamento.nome %></td>
	  </tr>
	<% end %>
	</table>

<div class="opcaoDireita"><%= link_to 'Novo Equipamento', new_instituicao_equipamento_path(@instituicao.id) %></div>
</div>