<%=render 'menu'%>
<div id='colunaPrincipal'>
	<div id='migalhas'>
		Seu caminho: <%= link_to "Instituição", instituicao_path(@instituicao.id) %> > Base
	</div>
<%= render 'equipamentos'%>
<%= render 'marcas'%>
</div>
<script type="text/javascript">
	selecionaMenu('base');
</script>