<ul id='menuLateral'>
	<li id='criar'><%= link_to image_tag('criar.png')+raw('<span>Criar Instituição</span>'), new_instituicao_path %></li>
	<li id='pedir'><%= link_to image_tag('pedir.png')+raw('<span>Requisições</span>'), '#' %></li>
	<li id='convite'><%= link_to image_tag('convidar.png')+raw('<span>Enviar convite</span>'), '#' %></li>
</ul>